.App {
  text-align: center;
}

html, body, #root {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.custom-card {
  background-color: #cce5ff; /* Azul claro */
  border: 2px solid #007bff; /* Cor da borda */
  border-radius: 10px; /* Bordas arredondadas */
  text-decoration: dotted;

}

/* styles.css ou outro arquivo CSS */
.table-responsive {
  width: 100%;
  overflow-x: auto; /* Para rolagem horizontal se necessário */
}

table {
  width: 100%; /* Tabela ocupa 100% da largura disponível */
}

th, td {
  text-align: center; /* Centraliza o texto nas células */
  white-space: nowrap; /* Evita quebra de texto nas células */
}

.alert {
  margin-bottom: 20px;
  width: 100%;
}

footer {
  margin-top: auto; /* Faz o footer ficar na parte inferior */
}
